@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap');


/*---------- css styles ---------*/


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans JP', sans-serif;
    min-height: 100vh;
    background-image: url("../img/bg.png");
    background-size: cover;
}

.main-container{
    width: 350px;
    height: 450px;
    background-color: #fff;
    border:1px solid lightgrey;
    border-radius: 5px;
    box-shadow: 2px 3px 5px rgba(0,0,0,0.5);
}

.form-header-t1{
    width: 100%;
    height: 100px;
    background-image: linear-gradient( 109.6deg,  rgba(238,58,136,1) 11.2%, rgba(128,162,245,1) 91.1% );
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-header-t1 h1{
    color: black;
    font-size: 2rem;
    padding: 10px 0px;
    font-family: 'Sansita Swashed', cursive;
}

.form-header-t1 .social i{
    color: white;
    font-size: 20px;
    padding: 10px 10px;  
}

.form-container-t1{
    padding: 20px; 
}

input[type='email']{
    outline: none;
    border: none;
    border-bottom: 1px solid grey;
    padding: 10px 0px;
    width: 100%;
    margin-bottom: 18px;
}

input[type='password']{
    outline: none;
    border: none;
    border-bottom: 1px solid grey;
    padding: 10px 0px;
    width: 100%;
}

.form-container-t1 p{
    font-size: 12px;
    color: grey;
    padding: 20px 0;
    text-align: right;
}

.form-container-t1 p b{
    color: black;
}

input[type='submit']{
    outline: none;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient( 109.6deg,  rgba(238,58,136,1) 11.2%, rgba(128,162,245,1) 91.1% );
    box-shadow: 2px 3px 4px grey;
    color: white;
    padding: 10px 20px;
}

.fc{
    position: relative;
}

.fc .fa-exclamation-circle,
.fc .fa-check-circle
{
    position: absolute;
    right: 10px;
    top: 15px;
    visibility: hidden;
}

.fc.success input{
    border-bottom:3px solid rgba(10, 194, 10, 0.774);
}

.fc.success .fa-check-circle{
    color: rgba(10, 194, 10, 0.774);
    visibility: visible;
}

.fc.error input{
    border-bottom:3px solid red;
}

.fc.error .fa-exclamation-circle{
    color:red;
    visibility: visible;
}

.fc small{
    visibility: hidden;
}

.fc.error small{
    visibility: visible;
    color: red;
}


